a {
  text-decoration: none;
  color: black;
}

.contact-header {
  font-size: 14px;
}

.banner {
  width: 40vw;
}

.hero-text {
  font-weight: bold;
  font-size: 2.5rem;
}
.hero-subtext {
  font-weight: 200;
  font-size: 1.5rem;
}

.ourbrands {
  background-color: #f3f3f3;
}
.navy {
  background-color: #07072c;
}
footer .copy-right {
  background-color: #01011a;
  text-align: center;
  color: #fff;
}
footer ul li a {
  color: #fff;
}

.point {
  width: 34vw;
  border-radius: 5px;
}

.d-none {
  display: none;
}

.point-text {
  font-size: 1.6rem;
  font-weight: normal;
  color: #d4d4d4;
}
.point-subtext {
  font-size: 1.3rem;
  font-weight: bold;
}

.footer-navlink{
  border-bottom: 2px solid #fff;
}

@media only screen and (min-width: 580px) and (max-width: 768px) {
  /* CSS rules for tablet devices */

  #hero-content {
    order: 2;
    text-align: center;
  }
  .hero-text {
    font-size: 1.8rem;
  }
  .hero-subtext {
    font-size: 1rem;
  }

  .point-text {
    font-size: 1rem;
  }
  .point-subtext {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 580px) {
  /* CSS rules for mobile devices */
  .logo {
    margin: auto;
  }

  .logo img {
    width: 150px;
  }

  .reorder {
    display: flex;
    flex-direction: column;
  }

  #hero-content {
    order: 2;
    text-align: center;
  }

  .hero-text {
    font-size: 1.8rem;
  }
  #hero-content .hero-subtext {
    font-weight: 400;
    font-size: 1rem;
  }
  #hero-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #hero-img img {
    width: 100%;
  }

  .point-text {
    font-size: 1rem;
  }
  .point-subtext {
    font-size: 0.7rem;
    font-weight: normal;
  }
  .point {
    width: 90vw;
  }

  #order2 {
    order: 2;
  }
  #order3 {
    order: 2;
  }

  .point-desc {
    background: #6499e9;
    color: #fff;
  }
}
