a {
  text-decoration: none;
  color: black;
}

.contact-header {
  font-size: 14px;
}

.banner {
  width: 40vw;
}

.ourbrands {
  background-color: #f3f3f3;
}
footer {
  background-color: #07072c;
}
footer .copy-right {
  background-color: #01011a;
  text-align: center;
  color: #fff;
}
footer ul li a{
  color: #fff;
}
